html, body{
  font-weight: bold;
  background: linear-gradient(rgba(0, 0, 0, 1), #03f5fd);
}
h1{
  margin-top: 20px;
  text-align: center;
  font-size: 64px;
  text-shadow: 0.5px 0px 5px rgb(200, 245, 1);
}
p{
  margin-top: 44px;
  text-align: center;
  font-size: 30px;
  text-shadow: 0.5px 0px 5px rgb(200, 245, 1);
}
label{
  text-shadow: 0.5px 0px 5px rgb(200, 245, 1);
  font-size: 20px;
}

#survey-form{
  margin-left: 40px; 
  margin-top: 40px;
  margin-bottom: 40px;
}
#survey-form div{
  margin-top: 40px;
}
.list-items{
  list-style: none;
}
.input-elm{
  box-shadow:  3px 3px 10px 3px #7fbf7f;
  border-radius: 5px;
  margin-top: 16px;
  padding-left: 10px;
  width: 50%;
  height: 32px;	
}
.input-radio, .input-checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: -50px;
}
.select-elm{
  box-shadow:  3px 3px 20px 3px #7fbf7f;
  border-radius: 5px;
  margin-top: 16px;
  padding-left: 10px;
  width: 51%;
  height: 32px;	
}
.textarea-elm{
  border: 2px dotted #ffffff;
  border-radius: 5px;
  margin-top: 16px;
  padding-top: 10px;
  height: 156px;
  width: 50%;
}
.button-elm{
  margin-top: 25px;
  width: 51%;
  height: 50px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 25px;
  font-weight: bold;
}